
@{
    ViewBag.Title = "AboutMe";
}
<!-- fragmenty stylesheet z projektu tego pana https://codepen.io/derekshirk/pens/popular/5/ -->
<link href="~/StyleSheet/AboutMe.css" rel="stylesheet" />
<section id="about">
    <!-- początek głównej sekcji About me-->
    <div class="row section-intro">

        <div class="col-twelve">
            <!-- nagłówki -->
            <h5>Hola, mi nombre es Magdalena Carmen Frieda Kahlo y Calderón</h5>
            <h1>llámame Frida</h1>
            <!-- tekst z sekcji głównej-->
            <div class="intro-info">

                <img src="~/Content/Images/about_me_photo.jpg" alt="Profile Picture">

                <p class="lead">Lorem ipsum Exercitation culpa qui dolor consequat exercitation fugiat laborum ex ea eiusmod ad do aliqua occaecat nisi ad irure sunt id pariatur Duis laboris amet exercitation veniam labore consectetur ea id quis eiusmod.</p>
            </div>

        </div>
    </div>

    <!-- kolumna z technicznymi informacjami -->
    <div class="row about-content">
        <!-- lista kontaktowa -->
        <div class="col-six tab-full">
            <h3>Contact me:</h3>
            <ul class="info-list">
                <li>
                    <strong>Phone</strong>
                    <span>+71 312 08 97</span>
                    <span>+487 566 248</span>
                </li>

                <li>
                    <strong>Email:</strong>
                    <span>beauty_frida@email.com</span>
                </li>

                <li>
                    <strong>Postal address: </strong>
                    <span>Frida Painting Studio</span>
                    <span>Beauty St. 35-5</span>
                    <span>Coyoacán, Mexico</span>
                </li>
            </ul> 

        </div>
        <!-- miejce na dodatkowe informacje -->
        <div class="col-six tab-full">

            <h3>My background story</h3>
            <p>Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.</p>

        </div>

    </div>
    <!-- przyciski - linki odsyłajace do stron społecznosciowych -->
    <div class="row button-section">
        <div >
            <a href="https://www.instagram.com/fridakahlo/?hl=pl" target="_blank" title="Instagram" class="button stroke">Instagram</a>
            <a href="https://www.facebook.com/fridakahlo/" target="_blank" title="Facebook" class="button stroke">Facebook</a>
            <a href="https://www.youtube.com/watch?v=vpJDLApWG9Q" target="_blank"  title="Youtube" class="button stroke">YouTube</a>
            <a href="https://twitter.com/FridaKahlo" target="_blank"  title="Twitter" class="button stroke">Twitter</a>
        </div>
    </div>

</section>
