USE [master]
GO
/****** Object:  Database [KatarzynaKrawczykLab4Zad1]    Script Date: 06.05.2018 19:40:06 ******/
CREATE DATABASE [KatarzynaKrawczykLab4Zad1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KatarzynaKrawczykLab4Zad1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.FRYGTT\MSSQL\DATA\KatarzynaKrawczykLab4Zad1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KatarzynaKrawczykLab4Zad1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.FRYGTT\MSSQL\DATA\KatarzynaKrawczykLab4Zad1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KatarzynaKrawczykLab4Zad1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KatarzynaKrawczykLab4Zad1]
GO
USE [KatarzynaKrawczykLab4Zad1]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 06.05.2018 19:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 06.05.2018 19:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Nip] [nvarchar](max) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[IndefinitePeriod] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 06.05.2018 19:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Value] [float] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Salaries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkPeriods]    Script Date: 06.05.2018 19:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkPeriods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[PeriodInMonths] [int] NOT NULL,
 CONSTRAINT [PK_dbo.WorkPeriods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Surname], [Nip], [Position], [IndefinitePeriod]) VALUES (6, N'Adam', N'Paparapa', N'553-449-72-15', N'Kierownik recepcji', 1)
INSERT [dbo].[Employees] ([Id], [Name], [Surname], [Nip], [Position], [IndefinitePeriod]) VALUES (7, N'Basia', N'Gabugabu', N'657-259-14-41', N'Koordynator powierzchni', 1)
INSERT [dbo].[Employees] ([Id], [Name], [Surname], [Nip], [Position], [IndefinitePeriod]) VALUES (10, N'Mariusz', N'Podlaski', N'328-756-31-39', N'Informatyk', 0)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Salaries] ON 

INSERT [dbo].[Salaries] ([Id], [Date], [Value], [EmployeeId]) VALUES (6, CAST(N'2018-04-03T17:40:37.000' AS DateTime), 3200, 6)
SET IDENTITY_INSERT [dbo].[Salaries] OFF
SET IDENTITY_INSERT [dbo].[WorkPeriods] ON 

INSERT [dbo].[WorkPeriods] ([Id], [StartDate], [EmployeeId], [PeriodInMonths]) VALUES (3, CAST(N'2018-05-03T01:02:26.747' AS DateTime), 6, 33)
INSERT [dbo].[WorkPeriods] ([Id], [StartDate], [EmployeeId], [PeriodInMonths]) VALUES (6, CAST(N'2018-05-03T11:53:46.263' AS DateTime), 7, 12)
SET IDENTITY_INSERT [dbo].[WorkPeriods] OFF
/****** Object:  Index [IX_EmployeeId]    Script Date: 06.05.2018 19:40:07 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[Salaries]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 06.05.2018 19:40:07 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[WorkPeriods]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WorkPeriods] ADD  DEFAULT ((0)) FOR [PeriodInMonths]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Salaries_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK_dbo.Salaries_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[WorkPeriods]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WorkPeriods_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkPeriods] CHECK CONSTRAINT [FK_dbo.WorkPeriods_dbo.Employees_EmployeeId]
GO
USE [master]
GO
