USE [master]
GO
/****** Object:  Database [CarsAppDb]    Script Date: 13.05.2018 19:54:55 ******/
CREATE DATABASE [CarsAppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarsAppDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.FRYGTT\MSSQL\DATA\CarsAppDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarsAppDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.FRYGTT\MSSQL\DATA\CarsAppDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarsAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarsAppDb]
GO
USE [CarsAppDb]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 13.05.2018 19:54:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](128) NOT NULL,
	[Manufacturer] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Photo] [nvarchar](128) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactForm]    Script Date: 13.05.2018 19:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactForm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](128) NULL,
	[LastName] [nvarchar](128) NULL,
	[Description] [nvarchar](256) NULL,
 CONSTRAINT [PK_ContactForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([CarId], [Model], [Manufacturer], [Price], [Photo]) VALUES (1, N'Focus', N'Ford', CAST(72000 AS Decimal(18, 0)), N'/Content/Images/focus.png')
INSERT [dbo].[Car] ([CarId], [Model], [Manufacturer], [Price], [Photo]) VALUES (2, N'Glof', N'Volkswagen', CAST(80000 AS Decimal(18, 0)), N'/Content/Images/golf.png')
INSERT [dbo].[Car] ([CarId], [Model], [Manufacturer], [Price], [Photo]) VALUES (3, N'Civic', N'Honda', CAST(82000 AS Decimal(18, 0)), N'/Content/Images/civic.png')
SET IDENTITY_INSERT [dbo].[Car] OFF
SET IDENTITY_INSERT [dbo].[ContactForm] ON 

INSERT [dbo].[ContactForm] ([Id], [FirstName], [LastName], [Description]) VALUES (1, N'Katarzyna', N'Krawczyk', N'Plz nie dawajcie więcej niż jedno zadanie')
SET IDENTITY_INSERT [dbo].[ContactForm] OFF
USE [master]
GO
