USE [master]
GO
/****** Object:  Database [StudentsGradesDb]    Script Date: 20.05.2018 19:37:28 ******/
CREATE DATABASE [StudentsGradesDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentsGradesDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.FRYGTT\MSSQL\DATA\StudentsGradesDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentsGradesDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.FRYGTT\MSSQL\DATA\StudentsGradesDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentsGradesDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentsGradesDb]
GO
USE [StudentsGradesDb]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 20.05.2018 19:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Album] [nvarchar](6) NOT NULL,
	[FirstTestPoints] [decimal](5, 2) NULL,
	[SecondTestPoints] [decimal](5, 2) NULL,
	[FinalGrade] [decimal](1, 1) NULL,
 CONSTRAINT [PK_Grade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Grade] ON 

INSERT [dbo].[Grade] ([Id], [Album], [FirstTestPoints], [SecondTestPoints], [FinalGrade]) VALUES (2, N'341283', CAST(8.00 AS Decimal(5, 2)), CAST(5.00 AS Decimal(5, 2)), NULL)
INSERT [dbo].[Grade] ([Id], [Album], [FirstTestPoints], [SecondTestPoints], [FinalGrade]) VALUES (3, N'341118', CAST(12.50 AS Decimal(5, 2)), NULL, NULL)
INSERT [dbo].[Grade] ([Id], [Album], [FirstTestPoints], [SecondTestPoints], [FinalGrade]) VALUES (4, N'341365', CAST(11.50 AS Decimal(5, 2)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Grade] OFF
USE [master]
GO
