USE [master]
GO
/****** Object:  Database [BikesStoreDb]    Script Date: 20.05.2018 19:38:49 ******/
CREATE DATABASE [BikesStoreDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BikesStoreDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.FRYGTT\MSSQL\DATA\BikesStoreDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BikesStoreDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.FRYGTT\MSSQL\DATA\BikesStoreDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BikesStoreDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BikesStoreDb]
GO
USE [BikesStoreDb]
GO
/****** Object:  Table [dbo].[Bike]    Script Date: 20.05.2018 19:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bike](
	[BikeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[MaxSpeed] [int] NOT NULL,
	[WheelSize] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Bike] PRIMARY KEY CLUSTERED 
(
	[BikeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 20.05.2018 19:38:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[BikeId] [int] NOT NULL,
	[FirstName] [nvarchar](64) NOT NULL,
	[LastName] [nvarchar](64) NOT NULL,
	[Email] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bike] ON 

INSERT [dbo].[Bike] ([BikeId], [Name], [MaxSpeed], [WheelSize], [Price]) VALUES (1, N'Kross V1
', 30, 26, CAST(1600 AS Decimal(18, 0)))
INSERT [dbo].[Bike] ([BikeId], [Name], [MaxSpeed], [WheelSize], [Price]) VALUES (2, N'Kross V2', 35, 27, CAST(2000 AS Decimal(18, 0)))
INSERT [dbo].[Bike] ([BikeId], [Name], [MaxSpeed], [WheelSize], [Price]) VALUES (3, N'Kross V3', 40, 28, CAST(2300 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Bike] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [BikeId], [FirstName], [LastName], [Email]) VALUES (1, 4, N'Jan', N'Nowak', N'jnowak@test.com')
INSERT [dbo].[Order] ([OrderId], [BikeId], [FirstName], [LastName], [Email]) VALUES (2, 3, N'Anna', N'Nowak', N'anowak@test.com')
SET IDENTITY_INSERT [dbo].[Order] OFF
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Bike] FOREIGN KEY([BikeId])
REFERENCES [dbo].[Bike] ([BikeId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Bike]
GO
USE [master]
GO
